body {
  margin: 0;
  min-height: 100vh;
  background-color: white;
background-image: url("https://images.unsplash.com/photo-1453959022778-cfda85dbe0f9?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
background-size: 1920px 1080px;
  background-attachment: fixed;
 }

header {
 height: 100px;
 border-radius: 20px;
 background-color:  	#000000;
opacity: 0.7;
}

main {
  margin: 20px auto;
max-width: 1600px;
 height: calc(100vh -200px);
 background-color:  #FF000000;
  display: flex;
}
.image {
max-height: 700px;
overflow: hidden;
display: flex;
justify-content: center;
maggin: 0 auto:
margin: 310px 40px 20px 5px;
border-radius: 40px;
}
.container-main {
  margin: 20px;
  padding: 100px;
  background-color:  #FFFAFA;
opacity: 0.85;
border-radius: 20px;
}
footer {
 height: 100px;
  background-color:  	#000000;
 border-radius: 20px ;
opacity: 0.7;
}